<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            
            <key>4</key>
            <dict>
                <key>frame</key>
                <string>{{505,356},{168,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{168,174}</string>
            </dict>
            <key>5</key>
            <dict>
                <key>frame</key>
                <string>{{3,532},{1002,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{1002,642}</string>
            </dict>
            <key>4_1</key>
            <dict>
                <key>frame</key>
                <string>{{369,356},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>card_block</key>
            <dict>
                <key>frame</key>
                <string>{{79,3},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>hand_11</key>
            <dict>
                <key>frame</key>
                <string>{{489,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_12</key>
            <dict>
                <key>frame</key>
                <string>{{550,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_13</key>
            <dict>
                <key>frame</key>
                <string>{{672,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_14</key>
            <dict>
                <key>frame</key>
                <string>{{854,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_15</key>
            <dict>
                <key>frame</key>
                <string>{{733,142},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>hand_16</key>
            <dict>
                <key>frame</key>
                <string>{{793,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_17</key>
            <dict>
                <key>frame</key>
                <string>{{611,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_18</key>
            <dict>
                <key>frame</key>
                <string>{{428,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_19</key>
            <dict>
                <key>frame</key>
                <string>{{64,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_20</key>
            <dict>
                <key>frame</key>
                <string>{{185,142},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>hand_41</key>
            <dict>
                <key>frame</key>
                <string>{{367,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_42</key>
            <dict>
                <key>frame</key>
                <string>{{245,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_43</key>
            <dict>
                <key>frame</key>
                <string>{{306,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_44</key>
            <dict>
                <key>frame</key>
                <string>{{915,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_45</key>
            <dict>
                <key>frame</key>
                <string>{{125,142},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>hand_46</key>
            <dict>
                <key>frame</key>
                <string>{{429,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_47</key>
            <dict>
                <key>frame</key>
                <string>{{490,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_48</key>
            <dict>
                <key>frame</key>
                <string>{{612,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_49</key>
            <dict>
                <key>frame</key>
                <string>{{551,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_50</key>
            <dict>
                <key>frame</key>
                <string>{{795,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_71</key>
            <dict>
                <key>frame</key>
                <string>{{673,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_72</key>
            <dict>
                <key>frame</key>
                <string>{{734,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_73</key>
            <dict>
                <key>frame</key>
                <string>{{368,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_74</key>
            <dict>
                <key>frame</key>
                <string>{{63,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_75</key>
            <dict>
                <key>frame</key>
                <string>{{3,236},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>hand_76</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_77</key>
            <dict>
                <key>frame</key>
                <string>{{307,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_78</key>
            <dict>
                <key>frame</key>
                <string>{{185,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_79</key>
            <dict>
                <key>frame</key>
                <string>{{246,236},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>hand_80</key>
            <dict>
                <key>frame</key>
                <string>{{3,142},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>peng_11</key>
            <dict>
                <key>frame</key>
                <string>{{426,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_12</key>
            <dict>
                <key>frame</key>
                <string>{{609,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_13</key>
            <dict>
                <key>frame</key>
                <string>{{3,72},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_14</key>
            <dict>
                <key>frame</key>
                <string>{{700,3},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>peng_15</key>
            <dict>
                <key>frame</key>
                <string>{{791,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_16</key>
            <dict>
                <key>frame</key>
                <string>{{563,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_17</key>
            <dict>
                <key>frame</key>
                <string>{{655,3},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>peng_18</key>
            <dict>
                <key>frame</key>
                <string>{{472,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_19</key>
            <dict>
                <key>frame</key>
                <string>{{334,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_20</key>
            <dict>
                <key>frame</key>
                <string>{{380,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_41</key>
            <dict>
                <key>frame</key>
                <string>{{865,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_42</key>
            <dict>
                <key>frame</key>
                <string>{{957,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_43</key>
            <dict>
                <key>frame</key>
                <string>{{819,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_44</key>
            <dict>
                <key>frame</key>
                <string>{{728,72},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>peng_45</key>
            <dict>
                <key>frame</key>
                <string>{{773,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_46</key>
            <dict>
                <key>frame</key>
                <string>{{911,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_47</key>
            <dict>
                <key>frame</key>
                <string>{{518,3},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>peng_48</key>
            <dict>
                <key>frame</key>
                <string>{{837,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_49</key>
            <dict>
                <key>frame</key>
                <string>{{745,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_50</key>
            <dict>
                <key>frame</key>
                <string>{{883,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_71</key>
            <dict>
                <key>frame</key>
                <string>{{232,72},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_72</key>
            <dict>
                <key>frame</key>
                <string>{{186,72},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_73</key>
            <dict>
                <key>frame</key>
                <string>{{140,72},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_74</key>
            <dict>
                <key>frame</key>
                <string>{{95,72},{43,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,67}</string>
            </dict>
            <key>peng_75</key>
            <dict>
                <key>frame</key>
                <string>{{929,3},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_76</key>
            <dict>
                <key>frame</key>
                <string>{{49,72},{44,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,67}</string>
            </dict>
            <key>peng_77</key>
            <dict>
                <key>frame</key>
                <string>{{683,72},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>peng_78</key>
            <dict>
                <key>frame</key>
                <string>{{546,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_79</key>
            <dict>
                <key>frame</key>
                <string>{{637,72},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>peng_80</key>
            <dict>
                <key>frame</key>
                <string>{{592,72},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>图层 3</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{118,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>图层 4</key>
            <dict>
                <key>frame</key>
                <string>{{856,236},{119,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{119,118}</string>
            </dict>
            <key>圆角矩形 1</key>
            <dict>
                <key>frame</key>
                <string>{{278,72},{266,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{266,68}</string>
            </dict>
            <key>得分：</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>摸牌</key>
            <dict>
                <key>frame</key>
                <string>{{240,356},{127,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{127,130}</string>
            </dict>
            <key>箭头</key>
            <dict>
                <key>frame</key>
                <string>{{276,3},{56,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>请出牌</key>
            <dict>
                <key>frame</key>
                <string>{{113,3},{161,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{161,60}</string>
            </dict>
            <key>过</key>
            <dict>
                <key>frame</key>
                <string>{{3,356},{115,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{115,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gambleGod.png</string>
            <key>size</key>
            <string>{1008,1177}</string>
            <key>textureFileName</key>
            <string>gambleGod.png</string>
        </dict>
    </dict>
</plist>